{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/review" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="album" name="album" placeholder="Album Title" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="artist" name="artist" placeholder="Artist" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="rating" name="rating" placeholder="Rating out of 10" type="text">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
          </div>
        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}